.holographic-link2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.9s ease-in-out, opacity 0.3s ease;
}

.holographic-link2::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 350%;
  height: 700%;
  background: #260F63;
  pointer-events: none;
  z-index: 1;
  transform: rotate(45deg) translateX(-100%);
  transition: transform 0.9s ease-in-out;
}

.holographic-link2:hover::before {
  transform: rotate(45deg) translateX(0%);
}

.holographic-link2:hover {
  color: white;
}

/* Make sure text spans are above the ::before */
.holographic-link2 span {
  position: relative;
  z-index: 2;
}


/* .holographic-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.5s ease;
}

.holographic-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #00ff00;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: width 0.8s ease, height 0.8s ease;
}

.holographic-link:hover::before {
  width: 300%;
  height: 300%;
}

.holographic-link:hover {
  color: black;
} */
